.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
}

.blogItem {
    margin-bottom: 35px;
}

.container {
    padding: 0 10rem;
}